body {
    margin: 0;
    /* background-color: blue; */
    text-align: center;
    /* font-family: verdana, serif; */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Merriweather', serif;
    /* font-size: 200%; */
    color: #40514E;
}

h1 {
    /* margin-top: 50px; */
    /* width: 15%; */
    margin: 50px auto 0 auto;
    /* padding-top: 50px; */
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    /* line-height: 2; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
}

h1, h2 { 
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h3, a {
    color: #11999E;
}

#first-div-id {
    background-color: #E4F9F5;
    /* border: solid 10px; */
    /* width: 200px; */
    /* height: 200px; */
    /* padding: 20px;   */
    position: relative;
    padding-top: 100px;
}

.middle-container {
    /* width: 200px;
    height: 200px;
    background-color: red;
    border: solid 20px;
    margin-left: 260px; */
    margin: 100px 0;
}

.bottom-container {
    /* width: 200px;
    height: 200px;
    background-color: yellow;
    border: solid 10px;
    margin-left: 500px; */
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 350px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    /* line-height: 2; */
}

.skill-text {
    /* text-align: left; */
    /* line-height: 2; */
    /* clear: left; */
}

.img-wrapper {
    width: 25%;
}

.img-skills-1 {
    float: left;
    margin: 0 30px 0 0;
}

.img-skills-2 {
    float: right;
    margin: 0 0 0 30px;
}

#pro-id {
    text-decoration: underline;
}

.img-profile {
    /* margin: 30px 0 20px 0; */
    border-radius: 100%;
}

#my-short-desc-id {
    width: 30%;
    margin: 0 auto;
}

hr {
    border-style: dotted none none none;
    border-width: 6px;
    border-color: lightgray;
    width: 4%;
    margin: 100px auto;
}

#get-in-touch-txt-id {
    width: 40%;
    margin: 40px auto;
}

#contact-me-btn-id, .btn {
    color: white;
    border: none;
    background: linear-gradient(180deg, #11cdd4, #11999e 100%);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#contact-me-btn-id:hover {
    background: linear-gradient(180deg, #30e3cb, #2bc4ad 100%);
}

.bottom-container {
    background-color: #66BFBF;
    padding: 35px 0;
}

.footer-link {
    text-decoration: none;
    margin-left: 35px;
    font-family: 'Montserrat', sans-serif;
}

#copyright-id {
    color: #eaf6f6;
    font-size: 0.75rem;
    margin: 20px auto 0 auto;
}

p {
    line-height: 2;
}

a {
    /* font-family: 'Montserrat', sans-serif; */
}

a:hover {
    color: #EAF6F6;
}