.body-for-index {
    background: url('../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.body-for-moon {
    background: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.container {
    width: 77.08333vw;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    height: 6.66667vw;
    /* vertical-align: middle; */
    margin: 2.7778vw 0 0 3.8194vw;
    position: relative;
    
}


.header-logo {
    width: 3.3333vw;
}

.header-logo-img {
    width: 100%;
}

.header-txt-bold {
    font-weight: 700;
}

.header-menu {
    height: 6.66667vw;
    /* vertical-align: middle; */
    /* margin: auto 0; */
    display: flex;
    align-items: center;
    padding: 0 0 0 11.4583vw;
    margin-left: 35.2083vw;
    background: rgba(255, 255, 255, 0.04);
    /* backdrop-filter: blur(81.5485px); */
    /* filter: blur(20px); */
    /* -webkit-backdrop-filter: blur(2em); */
    position: relative;
    width: 57.6389vw;
}
.header-menu::before {
    background: url('../assets/home/background-home-desktop.jpg') 0 0 / 100% fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: blur(15px);
    content: '';
}

.header-menu-elem {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 1.1111vw;
    line-height: 1.3194vw;
    letter-spacing: 0.1875vw;
    text-transform: uppercase;
    margin-right: 4.1667vw;
}

.menu-elem-a, .header-menu-elem-drop-elem-a {
    text-decoration: none;
}

.menu-elem-a, .header-menu-elem-drop-elem-a,menu-elem-a:visited, .header-menu-elem-drop-elem-a:visited {
    color: white;
}

.menu-elem-a:hover, .header-menu-elem-drop-elem-a:hover {
    text-decoration: underline rgb(138, 139, 144) 0.2083vw;
}

.menu-elem-a:active, .header-menu-elem-drop-elem-a:active {
    text-decoration: underline white 0.2083vw;
}

/* offset for top-menu */
.header-menu-elem-a:hover, .header-menu-elem-a:active {
    text-underline-offset: 2.6vw;
}

.header-menu-elem-drop {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    min-width: 9.0278vw;
    padding: 1vw; 
}

.header-menu-elem-drop-elem {
    margin-bottom: 1vw;
}

.header-menu-elem:hover .header-menu-elem-drop {
    display: block;
}

.header-line {
    width: 32.8472vw;
    height: 0.06944vw;
    min-height: 1px;
    left: 7.7778vw;
    top: 3.33334vw;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    z-index: 1;
}

.main-space {
    padding: 17.4305555555556vw 0 9.09722vw 0;
}

.container-2-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.space-block {
    width: 31.25vw;
}

h5 {
    font-family: 'Barlow Condensed';
    font-size: 1.9444vw;
    line-height: 2.3611vw;
    letter-spacing: 0.328125vw;
    color: #D0D6F9;
    text-transform: uppercase;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 10.41667vw;
    line-height: 11.9444vw;
    text-transform: uppercase;
    margin: 1.6667vw 0;
}

.small-text {
    font-family: 'Barlow';
    font-size: 1.25vw;
    line-height: 2.2222vw;
    color: #D0D6F9;
}

.explore-block {
    width: 19.02778vw;
    height: 19.02778vw;
    background-color: #FFFFFF;
    color: black;
    font-family: 'Bellefair';
    font-size: 2.2222vw;
    line-height: 2.57vw;
    letter-spacing: 0.1389vw;
    text-transform: uppercase;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.explore-block:hover:before {
    position: absolute;
    top: -6.1111vw;
    left: -6.1111vw;
    width: 31.25vw;
    height: 31.25vw;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    content: '';
    z-index: -1;
    border-radius: 100%;
}

.a-clear {
    text-decoration: none;
}

.top-menu-menu-checkbox {
	display: none;
    position: absolute;
    z-index: 3;
    width: 6.4vw;
    height: 5.6vw;
    opacity: 0;
}

#open-menu-img,  #close-menu-img{
    display: none;
}

.top-menu-menu-check-wrapper {
    z-index: 2;
}

.active-section-header {
    text-decoration: underline white 0.2083vw;
    text-underline-offset: 2.6vw;
}


/* for destinations */
.main-dest {
    padding: 5.2778vw 0 7.7778vw 0;
}

.img-planet {
    width: 30.90278vw;
    height: 30.90278vw;
    margin: 6.7361vw 0 0 4.4445vw;
}

.menu-elem-planets {
    display: inline;
    margin: 0 2.43056vw 0 0;
    font-family: 'Barlow Condensed';
    font-size: 1.1111vw;
    line-height: 1.3195vw;
    letter-spacing: 0.1875vw;
    text-transform: uppercase;
}

h2 {
    font-family: 'Bellefair', serif;
    font-size: 6.9444vw;
    line-height: 7.9861vw;
    text-transform: uppercase;
    margin: 2.5694vw 0 0.9722vw 0;
}

.planet-line {
    width: 30.8333vw;
    height: 0.06944vw;
    min-height: 1px;
    background: #383B4B;
    margin: 3.75vw 0 1.9445vw;
}

.planets-menu-elem-a:hover, .planets-menu-elem-a:active {
    text-underline-offset: 1vw;
}

.active-section-planets {
    text-decoration: underline white 0.2083vw;
    text-underline-offset: 1vw;
}

.planet-distance-time-columns {
    display: flex;
}

.planet-distance-time {
    margin: 0 5.4861vw 0 0;
}


.planet-distance-time-captions {
    font-family: 'Barlow Condensed';
    font-size: 0.9722vw;
    line-height: 1.18056vw;
    letter-spacing: 0.1641vw;
    text-transform: uppercase;
    color: #D0D6F9;
    margin: 1.9445vw 0 0.8333vw 0;
}

.planet-distance-time-text {
    font-family: 'Bellefair';
    font-size: 1.9445vw;
    line-height: 2.2222vw;
    text-transform: uppercase;
}

.dest-txt-bold {
	font-weight: 700;
	color: rgb(77, 79, 87);
	margin-right: 1vw;
}


@media (max-width: 768px) {
    .body-for-index {
        background: url('../assets/home/background-home-tablet.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .header {
        height: 12.5vw;
        margin: 0 0 0 5.078125vw;
    }

    .header-logo {
        width: 6.25vw;
    }

    .header-line {
        display: none;
    }

    .header-menu {
        height: 12.5vw;
        width: 58.59375vw;
        margin-left: 30.078125vw;
        padding: 0 0 0 6.25vw;
    }

    .header-menu::before {
        background: url('../assets/home/background-home-tablet.jpg') 0 0 / 100% fixed;
    }

    .header-menu-elem {
        font-size: 1.823vw;
        line-height: 2.2135vw;
        letter-spacing: 0.3076vw;
        
        margin-right: 4.1667vw;
    }

    .header-txt-bold {
        display: none;
    }

    .menu-elem-a:hover, .header-menu-elem-drop-elem-a:hover {
        text-decoration: underline rgb(138, 139, 144) 0.4vw;
    }

    .header-menu-elem-a:hover, .header-menu-elem-a:active {
        text-underline-offset: 4.9vw;
    }

    .main-space {
        padding: 13.8021vw 0 11.71875vw 0;
    }

    .container-2-columns {
        flex-direction: column;
        align-items: center;
    }

    .space-block {
        width: 58.5938vw;
        margin: 0 auto;
        text-align: center;
    }

    h5 {
        font-size: 2.60417vw;
        line-height: 3.125vw;
        letter-spacing: 0.4395vw;
    }

    h1 {
        font-size: 19.53125vw;
        line-height: 19.53125vw;
        margin: 3.125vw 0;
    }

    .small-text {
        font-size: 2.0833vw;
        line-height: 3.6458vw;
    }

    .explore-block {
        margin: 20.3125vw auto 0 auto;
        width: 31.51042vw;
        height: 31.51042vw;
        font-size: 4.1667vw;
        line-height: 2.57vw;
        letter-spacing: 0.1389vw;
    }

    .explore-block:hover::before {
        position: absolute;
        top: -10.0365vw;
        left: -10.0365vw;
        width: 51.75069vw;
        height: 51.75069vw;
    }

    .active-section-header {
        text-underline-offset: 5vw;
    }


    /* for destinations */
    .body-for-moon {
        background: url('../assets/destination/background-destination-tablet.jpg ');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .white-text-tablet {
        color: white;
        text-align: left;
    }

    .container {
        width: 89.97396vw;
    }

    .planet-img-block {
        width: 100%;
        text-align: center;
    }

    .img-planet {
        width: 39.0625vw;
        height: 39.0625vw;
        margin: 7.8125vw auto 6.8vw auto;
    }

    .menu-elem-planets {
        font-size: 2.0833vw;
        line-height: 2.47396vw;
        letter-spacing: 0.3516vw;
        text-transform: uppercase;
    }
}

@media (max-width: 375px) {
    .body-for-index {
        background: url('../assets/home/background-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .container {
        width: 87.2vw;
    }
    
    .header {
        height: 23.4667vw;
        margin: 0 6.4vw 0 6.4vw;
    }

    .header-logo {
        width: 10.6667vw;
    }

    .header-menu::before {
        display: none;
    }

    .header-menu {
        background: none;
        justify-content:end;
    }

    .header-menu-list {
        display: none;
        z-index: 1;
    }

    #open-menu-img {
        display: inline-block;
    }

    #close-menu-img {
        display: none;
    }

    .top-menu-menu-checkbox {
        display: block;
        right: 0;
    }

    .top-menu-menu-checkbox:checked ~ .top-menu-menu-check-wrapper > #close-menu-img {
        display: inline-block;
    }

    .top-menu-menu-checkbox:checked ~ .top-menu-menu-check-wrapper > #open-menu-img {
        display: none;
    }

    .top-menu-menu-checkbox:checked ~ .header-menu-list {
        display: block;
        position: fixed;
        background: black;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding-top: 16vw;
        padding-left: 35vw;
    }

    .header-menu-elem {
        display: block;
        font-size: 5vw;
        line-height: 6vw;
        letter-spacing: 0.72vw;
    }

    .header-menu-elem-drop {
        display: none;
        position: static;
        z-index: auto;
        min-width: 9.0278vw;
        padding: 1vw;
    }

    .header-menu-elem-drop-elem {
        margin: 0 0 0 2vw;
    }

    .header-menu-elem-a:hover, .header-menu-elem-a:active {
        text-underline-offset: 0.3vw;
    }

    h5 {
        font-size: 4.26667vw;
        line-height: 5.12vw;
        letter-spacing: 0.72vw;
    }

    h1 {
        font-size: 21.3333vw;
        line-height: 26.6667vw;
        margin: 4.5vw 0;
    }

    .main-space {
        padding: 6vw 0 14vw 0;
    }

    .space-block {
        width: 85vw;
    }

    .small-text {
        font-size: 4vw;
        line-height: 6.6667vw;
    }

    .explore-block {
        margin: 20.3125vw auto 0 auto;
        width: 40vw;
        height: 40vw;
        font-size: 5.3333vw;
        line-height: 6.112vw;
        letter-spacing: 0.3333vw;
    }

    .explore-block:hover::before {
        top: -12.8467vw;
        left: -12.8467vw;
        width: 65.6935vw;
        height: 65.6935vw;
    }
}